* {
    margin: 0;
}
body{
    height: 100vh;
}
header{
    height: 15%;
    background-color: aqua;
    text-align: center;
}
section{
    height: 70%;
    background-color: bisque;
}
nav{
    height: 100%;
    width: 20%;
    float: left;
    background-color: rgb(185, 185, 49);
}
#menu1{
    height: 50%;
    background-color: rgb(211, 77, 14);
    text-align: center;
}
#menu2{
    height: 50%;
    background-color: rgb(231, 174, 18);
    text-align: center;
}
hr{
    width: 100%;
    color: white;
}
article{
    height: 100%;
    width: 80%;
    float: left;
    background-color: rgb(26, 220, 88);
    text-align: center;
}
aside{
    height: 40%;
    width: 30%;
    background-color: white;
    float: right;
    text-align: center;
    background-image: url(im1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer{
    height: 15%;
    background-color: aqua;
    text-align: center;
}
