table{
    background-color: aquamarine;
    margin: 0 auto;
    border : 3px rgb(0, 153, 255) solid ;
    border-radius: 200px;
    padding: 10px;
}
caption b {
    color: black; 
    padding: 5px; 
    border-radius: 20px 20px 0 0; 
    display: block; 
    text-align: center; 
}
input[type="reset"] , input[type="submit"] {
    margin-right: 10px;
}
input[type="text"],input[type="password"]{
    background-color: yellow;
    border-color: black;
}
td input[type="text"],input[type="password"]{
    text-align: right;
}