*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(198, 198, 28);
    margin: 0;
}

h1
{
    color: purple;
    text-align: center;
    height: 20vh;
}

#nav
{
    float: left;
    width: 80vw;
    text-align: center;
    color: purple;
    height: 75vh;
}

#article
{
    float: right;
    width: 10vw;
    margin-right: 1vw;
    height: 75vh;
}

.labels
{
    background-color: white;
    color: rgb(8, 8, 14);
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-color: black;
    border-right-width: 1vw;
    border-style: none;
    border-right-style: solid;
}

#footer
{
    background-image: image();
    clear: both;
    text-align: center;
    margin-right: 1%;
    height: 5vh;
    margin-bottom: 0;
}